body {
  background-color: grey;
}
body,
.header-text,
.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 600px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: inter;
  background-color: #ffffff;
}
header {
  height: 136px;
  color: #98a2b3;
}
.header-text {
  height: 48px;
}
.header-text p {
  width: 114px;
  height: 24px;
  font-size: 15px;
  font-weight: 400;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}
.header-text a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  font-family: inter;
  color: #98a2b3;
}
img {
  width: 120px;
  height: 56px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.main-header-text {
  width: 552px;
  height: 92px;
  margin: 24px;
}
h1 {
  width: 552px;
  height: 36px;
  margin-top: 0;
  margin-bottom: 8px;
}
.main-header-text p {
  font-size: 15px;
  font-weight: 400;
  color: #667085;
}
.table-container {
  padding: 24px;
}
tr {
  height: 56px;
}
.item-column {
  width: 376px;
  text-align: left;
  color: #667085;
  border-bottom: 1px solid #e0e0e0;
}
.item-head,
.qty-head,
.price-head,
.item-foot,
.price-foot {
  font-size: 16px;
  font-weight: 600;
}
.qty-column {
  width: 50px;
  text-align: right;
  color: #101828;
  border-bottom: 1px solid #e0e0e0;
}
.price-column {
  width: 126px;
  text-align: right;
  color: #101828;
  border-bottom: 1px solid #e0e0e0;
}
.footer-container {
  padding: 24px;
}
.footer-container table {
  table-layout: fixed;
  width: 552px;
}
.logo-column {
  padding-left: 0;
  padding-bottom: 0;
}
.footer-logo {
  margin-top: 0;
}
.logo-column p {
  height: 24px;
  margin: 0;
}
.footer-company-name {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}
.footer-company-slogan {
  font-size: 15px;
  font-weight: 400;
  color: #667085;
}

.address-column {
  font-size: 15px;
  font-weight: 400;
  color: #667085;
  text-align: left;
  vertical-align: bottom;
}
